@font-face {
font-family: 'Caros Soft Regular';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Regular'), url('CarosSoft.woff') format('woff');
}


@font-face {
font-family: 'Caros Soft Light';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Light'), url('CarosSoftLight.woff') format('woff');
}



@font-face {
font-family: 'Caros Soft Bold';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Bold'), url('CarosSoftBold.woff') format('woff');
}