@font-face {
font-family: 'Caros Soft Regular';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Regular'), url('https://storage.cloud.google.com/font-certificados/CarosSoft.woff') format('woff');
}


@font-face {
font-family: 'Caros Soft Light';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Light'), url('https://storage.cloud.google.com/font-certificados/CarosSoftLight.woff') format('woff');
}



@font-face {
font-family: 'Caros Soft Bold';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Bold'), url('https://storage.cloud.google.com/font-certificados/CarosSoftBold.woff') format('woff');
}