@font-face {
font-family: 'Caros Soft Regular';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Regular'), url('https://raw.githubusercontent.com/JLMarcos1998/example-font/master/CarosSoft.woff') format('woff');
}


@font-face {
font-family: 'Caros Soft Light';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Light'), url('https://raw.githubusercontent.com/JLMarcos1998/example-font/master/CarosSoftLight.woff') format('woff');
}



@font-face {
font-family: 'Caros Soft Bold';
font-style: normal;
font-weight: normal;
src: local('Caros Soft Bold'), url('https://raw.githubusercontent.com/JLMarcos1998/example-font/master/CarosSoftBold.woff') format('woff');
}